#motto{
    height: 40vw;
}

#motto h1{
    font-size: 8.5vw;
    padding-top: 10vw;
}

#pros{
    padding-top: 1px;
    padding-bottom: 20vw;
    height: 30vw;
}

#pros h1{
    padding-top: 10vw;
    font-size: 10vw;
}

h2{
    font-size: 50px
}
img{
    width: 20vw;
    margin-bottom: 2vw;
}

#motto, #pros, #heading {
    margin-top: 50vh;
    margin-bottom: 50vh;
  }