#Projects{
    background-color: rgb(40, 80, 63);
}

#Projects h5{
    font-size: 20px;
}

#Projects > h1{
    font-size: 80px;
}

#Projects > h3{
    font-size: 20px;
}

#python{
    background-color: rgb(39, 99, 114);
}

#python h1{
    font-size: 100px;
}

#python h2{
    font-size: 40px;
}

#python p{
    font-size: 20px;
}

#cpp{
    background-color: rgb(0, 118, 148);
}

#cpp h1{
    font-size: 100px;
}

#cpp h2{
    font-size: 40px;
}

#cpp p{
    font-size: 20px;
}

#csharp{
    background-color: rgb(81, 57, 121);
}

#csharp h1{
    font-size: 100px;
}

#csharp h2{
    font-size: 40px;
}

#csharp p{
    font-size: 20px;
}

#webdev{
    background-color: rgb(138, 62, 48);
}

#webdev h1{
    font-size: 100px;
}

#webdev h2{
    font-size: 40px;
}

#webdev p{
    font-size: 20px;
}

#start, #Projects, #python, #cpp, #csharp, #webdev{
    padding-top: 50vh;
    padding-bottom: 50vh;
}

@media screen and (max-width:600px){
    #webdev h1{
        font-size: 20vw;
    }
}