#header{
    background-color: #555;
    margin-bottom: 0;
    padding-bottom: 0;
}


#coach{
    margin: 0;
    background-color: #666; 
}

#website{
    margin: 0;
    background-color: #444; 
}

div h1{
    font-size: 5.1vw;
}

img{
    width: 18vw;
    margin-bottom: 0;
}

#header, #coach, #div, #website, #img, #main-header{
    padding-bottom: 50vh;
    padding-top: 50vh;
  }