#Projects{
    margin-top: 400px;
    background-color: rgb(40, 80, 63);
    margin-bottom: 0;
    padding-bottom: 0;
    height: 1800px;
}

#Projects h5{
    padding-top: 300px;
    font-size: 20px;
}

#Projects > h1{
    padding-top: 500px;
    font-size: 80px;
}

#Projects > h3{
    font-size: 20px;
}

#python{
    padding-top: 10px;
    margin: 0;
    background-color: rgb(39, 99, 114);
    height: 900px;
}

#python h1{
    padding-top: 100px;
    font-size: 100px;
}

#python h2{
    padding-top: 40px;
    font-size: 40px;
}

#python p{
    font-size: 20px;
}

#cpp{
    padding-top: 10px;
    margin: 0;
    background-color: rgb(0, 118, 148);
    height: 669px;
}

#cpp h1{
    padding-top: 100px;
    font-size: 100px;
}

#cpp h2{
    padding-top: 40px;
    font-size: 40px;
}

#cpp p{
    font-size: 20px;
}

#csharp{
    padding-top: 10px;
    margin: 0;
    background-color: rgb(81, 57, 121);
    height: 800px;
}

#csharp h1{
    padding-top: 100px;
    font-size: 100px;
}

#csharp h2{
    padding-top: 40px;
    font-size: 40px;
}

#csharp p{
    font-size: 20px;
}

#webdev{
    padding-top: 10px;
    margin: 0;
    background-color: rgb(138, 62, 48);
    height: 800px;
}

#webdev h1{
    padding-top: 100px;
    font-size: 100px;
}

#webdev h2{
    padding-top: 40px;
    font-size: 40px;
}

#webdev p{
    font-size: 20px;
}

@media screen and (max-width:600px){
    #webdev h1{
        font-size: 20vw;
    }
